.foodDrinkPage {
    padding: 1rem 3rem;
}
.foodDrinkPage h1 {
    text-align: center;
    color: #242424;
    font-family: trump-gothic-pro;
    font-weight: 500;
    font-style: normal;
    font-size: 160px;
    letter-spacing: 0.1em;
    line-height: 1.1em;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 0px 1px 0 0px rgba(66,66,66,.65);
}
.foodDrinkPage-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}
.foodDrinkPage__item{
    width: 360px;
    padding: 1rem;
}
.foodDrinkPage--img-container{
    width: 360px;
    height: 360px;
    overflow: hidden;
    position: relative;
}
.foodDrinkPage--img-container img{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%,0);
}
.foodDrinkPage--title{
    margin: 5px 0;
    font-family: trump-gothic-pro;
    font-size: 80px;
    letter-spacing: .05em;
    line-height: 1em;
    text-transform: uppercase;
}
p.foodDrinkPage--desc {
    font-family: Heebo-light;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .07em;
    line-height: 2em;
    text-transform: none;
    color: rgba(66,66,66,.65);
}
.foodDrinkPage__item ul{
    list-style-type: disc;
    font-family: Heebo-light;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .07em;
    line-height: 2em;
    text-transform: none;
    color: rgba(66,66,66,.65);
}