@media  screen and (max-width:1120px){
    .instagram-body{
        height: 440px;
    }
}
@media screen and (max-width:890px){
    .instagram-body{
        height: 660px;
    }
    h1, h2{
        font-size: 6rem!important;
        text-align: center;
    }
}
@media screen and (max-width:677px){
    .instagram-body{
        height: max-content;
    }
}
@media screen and (max-width:1090px){
    .Logo {
        padding: 12px 6px;
    }    
    .Header-nav{
        padding: 9px 9px;    
        font-size: 8px;
    }
}
@media screen and (max-width:840px){
    .top-center, .Header-nav-inner{
        display: none;
    }
    .mb-menu .Header-nav-inner{
        display: flex;
    }
    .Header-nav{
        padding: 0;
    }
    .Header-hamburger{
        display: inline-block;
    }
    .Logo img {
        width: 50px;
    }
}
@media screen and (max-width:1140px){
    .rooms-card{
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (max-width:686px){
    .rooms-card{
        width: 84vw;
        height: 84vw;
    }
    .rooms-form{
        width: 65vw;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:600px){
    .footer-container{
        display: block;
    }
    .footer-left, .footer-center, .footer-right{
        margin: 60px 0 0 0;
        display: block;
    }
}
@media screen and (max-width:990px){
    .contactUs-body{
        flex-wrap: wrap;
    }
    .contactUs-left, .contactUs-right{
        width: 100%;
    }
    .contactUs-right #map{
        width: 100%!important;
        height: 50vw!important;
    }
}