
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.reserve-container {
    max-width: 1220px;
    margin: 0 auto;
}
.reserve-search {
    display: flex;
    align-items: flex-end;
}
.reserve-search__btn{
    background: #0a73fc;
    border-radius: 2px;
    border-width: 0 !important;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(0.4,0,0.2,1);
}
.reserve-title{
    background-color: #444;
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    margin-top: 10px;
    font-size: 27px;
    font-weight: 300;
    padding: 1rem;
}
.reserve-pages-tb{
    width: 100%;
}